* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}
/* Header */
header {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: black;
  justify-content: flex-end;
  align-items: flex-start;
}

header > div {
  background-color: #4a4a4a;
  color: white;
  font-size: 14px;
  margin: 5px;
  padding: 4px 8px;
  border-radius: 5px;
}
/* End header */
/* Main */
main {
  height: calc(100vh - 160px);
  background-color: black;
  overflow-y: auto;
}

.main-container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  width: 100%;
}
/* User */
.user {
  position: relative;
  width: 220px;
  height: 160px;
  background-image: url('../img/image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 6px 3px;
}

.user-information {
  position: absolute;
  left: 0;
  bottom: 2px;
  background-color: #4a4a4a;
  opacity: 0.6;
  padding: 2px 4px;
}

.user-information > .user-mute, .user-name {
  display: inline-block;
  font-size: 14px;
  color: white;
}
/* End user */
/* End main */